In [106]:
import pandas as pd

In [124]:
# Read in csv file. 
# using sep because of whitespace in column names, Skipping first 6 rows
df = pd.read_csv("2021_01_22_202641_PowerMaster_ShockVibe.csv",sep=r'\s*,\s*', engine='python',skiprows = 6)

#Removing last column because it has NA values
df.drop(df.columns[[-1,]], axis=1, inplace=True)
print(df.isnull().sum())
df.info()

#Recorded     0
Date-Time     0
CRC           0
objectId      0
jobID         0
runNum        0
dataLen       0
XYVibe       58
XYPeak       58
XYShock       0
ZVib         60
ZPeak        60
ZShock        0
ZVibeFlg      0
ZShkFlg       0
XYVibeFlg     0
XYShkFlg      0
PackedVib     0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4141 entries, 0 to 4140
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #Recorded  4141 non-null   int64
 1   Date-Time  4141 non-null   object
 2   CRC        4141 non-null   int64
 3   objectId   4141 non-null   int64
 4   jobID      4141 non-null   int64
 5   runNum     4141 non-null   int64
 6   dataLen    4141 non-null   int64
 7   XYVibe     4083 non-null   float64
 8   XYPeak     4083 non-null   float64
 9   XYShock    4141 non-null   int64
 10  ZVib       4081 non-null   float64
 11  ZPeak      4081 non-null   float64
 12  ZShock     4141 non-null   int64
 13  ZVibeFlg   4141 non-null   int64
 14  ZShkFlg    4141 non-null   int64
 15  XYVibeFlg  4141 non-null   int64
 16  XYShkFlg   4141 non-null   int64
 17  PackedVib  4141 non-null   int64
dtypes: float64(4), int64(13), object(1)
memory usage: 582.5+ KB

In [125]:
# To Do: remove NaN's
df.dropna(inplace=True)

print(df)
df.info()

      #Recorded            Date-Time    CRC  objectId  jobID  runNum  dataLen  \
0             0  1970/01/01 00:04:48  39319         3      0       0       25
1             1  1970/01/01 00:04:48   2474         3      0       0       25
2             2  1970/01/01 00:04:48  22755         3      0       0       25
3             3  1970/01/01 00:04:48  58766         3      0       0       25
4             4  1970/01/01 00:04:48  12824         3      0       0       25
...         ...                  ...    ...       ...    ...     ...      ...
4136       4136  2021/01/22 20:21:36  26031         3      0       0       25
4137       4137  2021/01/22 20:22:06  15005         3      0       0       25
4138       4138  2021/01/22 20:22:36   4507         3      0       0       25
4139       4139  2021/01/22 20:23:06  10277         3      0       0       25
4140       4140  2021/01/22 20:26:18  56322         3      0       0       25

        XYVibe    XYPeak  XYShock       ZVib      ZPeak  ZShock  ZVibeFlg  \
0     0.000000  0.000000        0   0.000000   0.000000       0         0
1     1.000000  2.000000        3   4.000000   5.000000       6         7
2     2.000000  4.000000        6   8.000000  10.000000      12        14
3     3.000000  6.000000        9  12.000000  15.000000      18        21
4     4.000000  8.000000       12  16.000000  20.000000      24        28
...        ...       ...      ...        ...        ...     ...       ...
4136  0.614147  2.615385        0   0.578815   1.769231       0         0
4137  0.611837  2.576923        0   0.585641   2.576923       0         0
4138  0.620897  1.576923        0   0.581294   1.961539       0         0
4139  0.618992  3.000000        0   0.599821   3.038462       0         0
4140  1.999807  3.500000        0   1.904512   2.500000       0         0

      ZShkFlg  XYVibeFlg  XYShkFlg  PackedVib
0           0          0         0          0
1           8          9        10         11
2          16         18        20         22
3          24         27        30         33
4          32         36        40         44
...       ...        ...       ...        ...
4136        0          0         0          0
4137        0          0         0          0
4138        0          0         0          0
4139        0          0         0          0
4140        0          0         0          0

[4081 rows x 18 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4081 entries, 0 to 4140
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #Recorded  4081 non-null   int64
 1   Date-Time  4081 non-null   object
 2   CRC        4081 non-null   int64
 3   objectId   4081 non-null   int64
 4   jobID      4081 non-null   int64
 5   runNum     4081 non-null   int64
 6   dataLen    4081 non-null   int64
 7   XYVibe     4081 non-null   float64
 8   XYPeak     4081 non-null   float64
 9   XYShock    4081 non-null   int64
 10  ZVib       4081 non-null   float64
 11  ZPeak      4081 non-null   float64
 12  ZShock     4081 non-null   int64
 13  ZVibeFlg   4081 non-null   int64
 14  ZShkFlg    4081 non-null   int64
 15  XYVibeFlg  4081 non-null   int64
 16  XYShkFlg   4081 non-null   int64
 17  PackedVib  4081 non-null   int64
dtypes: float64(4), int64(13), object(1)
memory usage: 605.8+ KB

In [120]:
#Checking if all NaN's are removed. 
df.isnull().sum()

#Recorded    0
Date-Time    0
CRC          0
objectId     0
jobID        0
runNum       0
dataLen      0
XYVibe       0
XYPeak       0
XYShock      0
ZVib         0
ZPeak        0
ZShock       0
ZVibeFlg     0
ZShkFlg      0
XYVibeFlg    0
XYShkFlg     0
PackedVib    0
dtype: int64

In [4]:
# To do: Convert string input from user to date time
# To do: split date-time column into 2 separate columns
# To do: Loop until the end, maybe there's a datetime formula for traversing.