In [32]:
import pandas as pd

In [33]:
# Read in csv file. 
# using sep because of whitespace in column names, Skipping first 6 rows
df = pd.read_csv("2021_01_22_202641_PowerMaster_ShockVibe.csv",sep=r'\s*,\s*', engine='python',skiprows = 6)

#Removing last column because it has NA values
df.drop(df.columns[[-1,]], axis=1, inplace=True)
print(df.isnull().sum())
df.info()

#Recorded     0
Date-Time     0
CRC           0
objectId      0
jobID         0
runNum        0
dataLen       0
XYVibe       58
XYPeak       58
XYShock       0
ZVib         60
ZPeak        60
ZShock        0
ZVibeFlg      0
ZShkFlg       0
XYVibeFlg     0
XYShkFlg      0
PackedVib     0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4141 entries, 0 to 4140
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #Recorded  4141 non-null   int64
 1   Date-Time  4141 non-null   object
 2   CRC        4141 non-null   int64
 3   objectId   4141 non-null   int64
 4   jobID      4141 non-null   int64
 5   runNum     4141 non-null   int64
 6   dataLen    4141 non-null   int64
 7   XYVibe     4083 non-null   float64
 8   XYPeak     4083 non-null   float64
 9   XYShock    4141 non-null   int64
 10  ZVib       4081 non-null   float64
 11  ZPeak      4081 non-null   float64
 12  ZShock     4141 non-null   int64
 13  ZVibeFlg   4141 non-null   int64
 14  ZShkFlg    4141 non-null   int64
 15  XYVibeFlg  4141 non-null   int64
 16  XYShkFlg   4141 non-null   int64
 17  PackedVib  4141 non-null   int64
dtypes: float64(4), int64(13), object(1)
memory usage: 582.5+ KB

In [34]:
# To Do: remove NaN's
df.dropna(inplace=True)

print(df)
df.info()

      #Recorded            Date-Time    CRC  objectId  jobID  runNum  dataLen  \
0             0  1970/01/01 00:04:48  39319         3      0       0       25
1             1  1970/01/01 00:04:48   2474         3      0       0       25
2             2  1970/01/01 00:04:48  22755         3      0       0       25
3             3  1970/01/01 00:04:48  58766         3      0       0       25
4             4  1970/01/01 00:04:48  12824         3      0       0       25
...         ...                  ...    ...       ...    ...     ...      ...
4136       4136  2021/01/22 20:21:36  26031         3      0       0       25
4137       4137  2021/01/22 20:22:06  15005         3      0       0       25
4138       4138  2021/01/22 20:22:36   4507         3      0       0       25
4139       4139  2021/01/22 20:23:06  10277         3      0       0       25
4140       4140  2021/01/22 20:26:18  56322         3      0       0       25

        XYVibe    XYPeak  XYShock       ZVib      ZPeak  ZShock  ZVibeFlg  \
0     0.000000  0.000000        0   0.000000   0.000000       0         0
1     1.000000  2.000000        3   4.000000   5.000000       6         7
2     2.000000  4.000000        6   8.000000  10.000000      12        14
3     3.000000  6.000000        9  12.000000  15.000000      18        21
4     4.000000  8.000000       12  16.000000  20.000000      24        28
...        ...       ...      ...        ...        ...     ...       ...
4136  0.614147  2.615385        0   0.578815   1.769231       0         0
4137  0.611837  2.576923        0   0.585641   2.576923       0         0
4138  0.620897  1.576923        0   0.581294   1.961539       0         0
4139  0.618992  3.000000        0   0.599821   3.038462       0         0
4140  1.999807  3.500000        0   1.904512   2.500000       0         0

      ZShkFlg  XYVibeFlg  XYShkFlg  PackedVib
0           0          0         0          0
1           8          9        10         11
2          16         18        20         22
3          24         27        30         33
4          32         36        40         44
...       ...        ...       ...        ...
4136        0          0         0          0
4137        0          0         0          0
4138        0          0         0          0
4139        0          0         0          0
4140        0          0         0          0

[4081 rows x 18 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4081 entries, 0 to 4140
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #Recorded  4081 non-null   int64
 1   Date-Time  4081 non-null   object
 2   CRC        4081 non-null   int64
 3   objectId   4081 non-null   int64
 4   jobID      4081 non-null   int64
 5   runNum     4081 non-null   int64
 6   dataLen    4081 non-null   int64
 7   XYVibe     4081 non-null   float64
 8   XYPeak     4081 non-null   float64
 9   XYShock    4081 non-null   int64
 10  ZVib       4081 non-null   float64
 11  ZPeak      4081 non-null   float64
 12  ZShock     4081 non-null   int64
 13  ZVibeFlg   4081 non-null   int64
 14  ZShkFlg    4081 non-null   int64
 15  XYVibeFlg  4081 non-null   int64
 16  XYShkFlg   4081 non-null   int64
 17  PackedVib  4081 non-null   int64
dtypes: float64(4), int64(13), object(1)
memory usage: 605.8+ KB

In [35]:
#Checking if all NaN's are removed. 
df.isnull().sum()
df['Date-Time']

0       1970/01/01 00:04:48
1       1970/01/01 00:04:48
2       1970/01/01 00:04:48
3       1970/01/01 00:04:48
4       1970/01/01 00:04:48
               ...
4136    2021/01/22 20:21:36
4137    2021/01/22 20:22:06
4138    2021/01/22 20:22:36
4139    2021/01/22 20:23:06
4140    2021/01/22 20:26:18
Name: Date-Time, Length: 4081, dtype: object

In [36]:
# Converting 'Date-Time' Col to a datetime object. 
df['Date-Time'] = pd.to_datetime(df['Date-Time'], format = "%Y/%m/%d %H:%M:%S")

In [37]:
# Set date-time as index - this is to make it easier to .loc or .iloc
df = df.set_index(['Date-Time'])

In [43]:
# Ex. of gettinng between date and time
#df.loc['2021/01/21 09:45:43' : '2021/01/21 09:50:12']
start_time = '09:44:13'
end_time = '09:50:12'
df.between_time('start_time,end_time)

,#Recorded,CRC,objectId,jobID,runNum,dataLen,XYVibe,XYPeak,XYShock,ZVib,ZPeak,ZShock,ZVibeFlg,ZShkFlg,XYVibeFlg,XYShkFlg,PackedVib
Date-Time,,,,,,,,,,,,,,,,,
2021-01-21 09:44:13,8,14344,3,0,0,25,0.759425,2.000000,0,0.736026,0.000000,0,0,0,0,0,0
2021-01-21 09:44:43,9,51564,3,0,0,25,0.762217,1.807692,0,0.734207,1.653846,0,0,0,0,0,0
2021-01-21 09:45:13,10,4620,3,0,0,25,0.764444,2.115385,0,0.729986,0.000000,0,0,0,0,0,0
2021-01-21 09:45:43,11,60064,3,0,0,25,0.765394,2.000000,0,0.728117,1.653846,0,0,0,0,0,0
2021-01-21 09:46:13,12,45751,3,0,0,25,0.765933,1.538462,0,0.728507,0.000000,0,0,0,0,0,0
2021-01-21 09:46:42,13,5867,3,0,0,25,0.768145,3.384615,0,0.729044,0.000000,0,0,0,0,0,0
2021-01-21 09:47:12,14,1841,3,0,0,25,0.767771,2.000000,0,0.728137,1.961539,0,0,0,0,0,0
2021-01-21 09:47:42,15,21740,3,0,0,25,0.776884,3.961539,0,0.739107,3.461539,0,0,0,0,0,0
2021-01-21 09:48:12,16,59398,3,0,0,25,0.760279,2.615385,0,0.721630,1.576923,0,0,0,0,0,0
2021-01-21 09:48:42,17,27294,3,0,0,25,0.764454,2.538462,0,0.718115,2.230769,0,0,0,0,0,0
2021-01-21 09:49:12,18,13308,3,0,0,25,0.764538,3.000000,0,0.723220,1.884615,0,0,0,0,0,0
2021-01-21 09:49:42,19,10959,3,0,0,25,0.769721,2.384615,0,0.714447,2.230769,0,0,0,0,0,0
2021-01-21 09:50:12,20,46437,3,0,0,25,0.769633,3.346154,0,0.716159,2.884615,0,0,0,0,0,0
2021-01-22 09:44:16,2867,62349,3,0,0,25,0.089651,2.307692,0,0.128710,0.000000,0,0,0,0,0,0
2021-01-22 09:44:46,2868,42438,3,0,0,25,0.106879,1.730769,0,0.108028,0.000000,0,0,0,0,0,0
2021-01-22 09:45:16,2869,55787,3,0,0,25,0.094470,0.000000,0,0.109023,0.000000,0,0,0,0,0,0
2021-01-22 09:45:46,2870,2395,3,0,0,25,0.085567,2.346154,0,0.112699,2.192308,0,0,0,0,0,0
2021-01-22 09:46:16,2871,57553,3,0,0,25,0.084594,0.000000,0,0.113344,0.000000,0,0,0,0,0,0
2021-01-22 09:46:46,2872,33981,3,0,0,25,0.086712,0.000000,0,0.114127,0.000000,0,0,0,0,0,0
2021-01-22 09:47:16,2873,58651,3,0,0,25,0.096874,0.000000,0,0.137529,1.769231,0,0,0,0,0,0
2021-01-22 09:47:46,2874,30172,3,0,0,25,0.114296,1.692308,0,0.161527,0.000000,0,0,0,0,0,0
2021-01-22 09:48:46,2876,27290,3,0,0,25,0.112625,1.500000,0,0.164133,1.538462,0,0,0,0,0,0
2021-01-22 09:49:16,2877,26234,3,0,0,25,0.117902,1.500000,0,0.164071,1.769231,0,0,0,0,0,0
2021-01-22 09:49:46,2878,14088,3,0,0,25,0.115582,0.000000,0,0.166574,0.000000,0,0,0,0,0,0

In [ ]:
# To do: Convert string input from user to date time
# To do: Loop until the end, maybe there's a datetime formula for traversing.
# To do: split date-time column into 2 separate columns